
form.classy {
	background-color: #eeeeee;
	/* text-shadow: 5px 5px 0px silver; */
}

legend.classy {
	text-shadow: 3px 3px 0px silver;
	font-size: larger;
	font-style: italic;
	color: olive;
	font-family: Georgia;
	letter-spacing: 3px
}

.boxed_shadow {
	-moz-box-shadow: 3px 3px 0px silver;
	-webkit-box-shadow: 3px 3px 0px silver;
	box-shadow: 3px 3px 0px silver;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='silver')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='silver');
}

.igor {}

textarea {
	font-size: smaller;
}
