
<script src='/javascripts/file-folder-utilities-0.1.js'> </script>
<script type="text/javascript" src="/javascripts/3rd-party/plugins/jquery-simple-tree-menu-1.2.5.js"></script>
<script type="text/javascript" src="/javascripts/3rd-party/plugins/jquery-cookie-0.6.5.js"></script>
<link rel="stylesheet" href="/cascading_stylesheets/3rd-party/simple-tree-menu-styling/jquery-simple-tree-menu-1.2.5.css"/>
<style>
.hovering {
	border-style: dotted;
	border: 2px;
	border-color: #FE57A1;
	background: #aaa;
}
</style>

<form name='contain_me' id='contain_me' method='post'>
<span class='<?cs var:drop_on_able?>' >
	<i>All&nbsp;pages&nbsp;and&nbsp;folders</i>&nbsp;<?cs if:unrestricted ?><img alt='pop up menu'
			id='the-image'
			onmouseover='this.style.cursor="hand"; this.src="/images/down-arrow-hover.png"' 
			onmouseout='this.style.cursor="auto"; this.src="/images/down-arrow.png"' 
			style='float:right; display:inline; margin-top: 4px' 
			src='/images/down-arrow.png'>
	<script>
		var has_a_trash = '<?cs var:has_a_trash ?>';
		$('#the-image').toggle(superMenuIn, superMenuOut);
		var label_array = [];
	</script>
	<?cs /if ?>
</span>

<hr>
<ul class="tree">

<?cs def:display_files(epages) ?>
  <?cs each:epage = epages ?>
    <?cs if:epage.kind == -1 ?> <!-- i am a folder -->
    <li>
      	<span id='the-folder-<?cs var:epage.id ?>' class='<?cs var:epage.draggable?> <?cs var:epage.drop_on_able?> igor'>
      		<i><?cs var:epage.label?></i>&nbsp;<?cs if:epage.unrestricted ?><img alt='pop up menu'
      				id='the-image-<?cs var:epage.id ?>'
      				onmouseover='this.style.cursor="hand"; this.src="/images/down-arrow-hover.png"'
      				onmouseout='this.style.cursor="auto"; this.src="/images/down-arrow.png"'
      				style='float:right; display:none; margin-top: 4px' 
      				src='/images/down-arrow.png'>
	      	<script>
      			$('#the-image-<?cs var:epage.id ?>').toggle(superMenuIn, superMenuOut);
      			label_array['<?cs var:epage.id ?>'] = '<?cs var:epage.label?>';
    	  	</script>
    	  	<?cs /if ?>
      	</span>
      	<ul>
      	<?cs call:display_files(epage.folder) ?>
      	</ul>
    </li>
    <?cs else ?> <!-- i am an epage -->
    <li>
      	<span id='the-epage-<?cs var:epage.id ?>' class='<?cs var:epage.draggable?>'><?cs var:epage.symbol ?>&nbsp;<?cs if:epage.unrestricted ?><a style='display:inline;' href='epage/<?cs var:epage.id ?>'><?cs var:epage.label ?></a><?cs else ?><?cs var:epage.label ?><?cs /if ?></span>
    </li>
    <?cs /if ?>
  <?cs /each ?>
<?cs /def ?>

<?cs call:display_files(Epages) ?>
</ul>

</form>

<!-- <?cs var:epage.controller ?>?id=<?cs var:epage.id ?>&name=<?cs var:epage.s_label ?> -->

<script type="text/javascript">
  $(document).ready(function() {
  	$(".tree").simpleTreeMenu({blank: true});
  	$(".tree").simpleTreeMenu('deserialize', 'cookie'); /* session cookie or other? */
    $(".igor").hover(
      function () {
        /*
        var img_kid = $(this)[0].children[0].children[0];
        img_kid.setAttribute("style", "float:right; display:inline; margin-top: 8px")
        */
        $($(this)[0].children[1]).show();
      },
      function () {
        /*
        var img_kid = $(this)[0].children[0].children[0];
        img_kid.setAttribute("style", "float:right; display:none; margin-top: 8px")
        */
        $($(this)[0].children[1]).hide();
      }
    );
    function handle_drop( event, ui ) {
    	var t = $(this);
    	var target_id = t.attr('id')
  		var target_val = target_id.split('-')[2]
    	var source_id = ui.draggable.attr('id')
  		var source_val = source_id.split('-')[2]
  		if (target_val === undefined) {
  			target_val = "undefined";
  		}
  		document.contain_me.action = '/epage/move/'+source_val+'/'+target_val;
  		document.contain_me.submit();
	}
    $('.drop_on_me').droppable( {
    	hoverClass: 'hovering',
    	drop: handle_drop
  	});
  	
    function handle_drag( event, ui ) {
  		var offsetXPos = parseInt( ui.offset.left );
  		var offsetYPos = parseInt( ui.offset.top );
  		$('#xy').text("" + offsetXPos + ", " + offsetYPos);
	}
    function handle_stop( event, ui ) {
    	//alert('stopped');
	}
    function oh_baby( event ) {
  		return '<div id="draggableHelper">I am a helper - drag me!</div>';
	}
    $('.drag_me').draggable( {
    	containment: '#contain_me',
    	helper: 'clone',
    	drag: handle_drag,
    	stop: handle_stop,
    	mouse: 'move'
    });
  });
  $(window).unload(function() {
  	$(".tree").simpleTreeMenu('serialize', 'cookie');
  });
</script>
