		
	<div id="center_it" style="width:800px;"> <!-- adjust as necessary -->
	<script>
	$(window).load(function () {
		// Handler for .ready() called.
		the_top = $("#center_it").offset().top;
 		the_left = (($(window).width() - 800)/2);
 		// alert(the_top + " --- " + the_left);
 		$("#center_it").offset({ top: the_top, left: the_left });
	});
	
	var close_alert = function () {
		$('#feedback_alert').fadeOut();
		$('#feedback_alert').text('»» ');
		$('#feedback_alert').show();
		return false;
	}
	</script>

		<form align="center">
			<span style="float: left" id='feedback_alert'>»»&nbsp;<?cs var:alert ?></span>
			<span style="float: right"><span>Choose a language</span>
			<!-- http://en.wikipedia.org/wiki/List_of_ISO_639-1_codes -->
			<select>
	  			<option value="it" <?cs if:lang=="it" ?>selected<?cs /if ?> >italiano</option>
	  			<option value="en" <?cs if:lang=="en" ?>selected<?cs /if ?> >english</option>
	  			<option value="ga" <?cs if:lang=="ga" ?>selected<?cs /if ?> >gaeilge</option>
	  			<option value="fi" <?cs if:lang=="fi" ?>selected<?cs /if ?> >suomi</option>
	  			<option value="ca" <?cs if:lang=="ca" ?>selected<?cs /if ?> >català</option>
			</select>
			</span>
		</form>
		<br />
  
  		<div class="cog" style="float:left">
		<fieldset> <legend class="classy">Welcome</legend> <!-- does fieldset need a form? -->
			<div id="resize_me">
			<span><?cs var:_("Welcome") ?>, o seeker of rare pleasures. This is version <i><?cs var:VERSION ?></i> work-in-progress of
			Poetify and it is for demonstration purposes only - to give you a flavour of
			the functionality. This has been checked over in Chrome, Firefox, and Safari -
			Internet Explorer probably does not work yet, awfully sorry about that.
			</span>
			<?cs if:admin ?><?cs include:'admin_box.cshtml' ?><?cs else ?><?cs /if ?>
			</div>
		</fieldset>
		</div>
	
		<div class="nocog" style="float:right">
		<fieldset> <legend class="classy">ePages</legend>
			<div id="epages"><?cs include:"epages.cshtml" ?></div>
		</fieldset>
		</div>
  
  		<div class="cog" style="clear:both">
  		<fieldset> <legend class="classy">Description</legend>
			<div id="description"><?cs var:Poetify.description ?></div>
  		</fieldset>
  		</div>
		
		<div class="cog" style="clear:both">
  		<fieldset> <legend class="classy">Source, Copyright &amp; Warranty</legend>
			<div>
				<a href="https://github.com/igravious/poetify">Source Code at Github</a>
                <br>
                <i>Copyrighted 2011 by Anthony Durity using materials provided by Jyväskylä University under the <a href="http://www.gnu.org/licenses/gpl-3.0.html">GPL&nbsp;version&nbsp;3</a></i>
                <br>
                In contrast to most software, this software actually does come with a limited warranty in that we hope that it is fit for its intended purpose and we pledge to try and fix any defects you may find (such defects exist in all software no matter how hard we try to eliminate them) and we pledge to provide a channel of communication for enabling this and other type of feedback. In return for these pledges, though, it is only fair that we are not held liable for any data or hair loss or what-have-you.
                <br>
                Built using many open-source technologies and many open standards:
                  <a href="http://www.clearsilver.net/docs/man_templates.hdf">ClearSilver</a>,
                  <a href="http://www.ruby-lang.org/<?cs var:Site.language ?>/">Ruby</a>,
                  jQuery, HTML5, CSS, Javascript, Git
            </div>
  		</fieldset>
  		</div>
  		
	<script>
		$(window).load(function () {
			$("#resize_me").css( "width", (640 - $("#epages").width()) );
			if ($("#epages").height() > $("#resize_me").height()) {
        		$("#resize_me").css( "height", ($("#epages").height()) );
        	} else {
        		$("#epages").css( "height", ($("#resize_me").height()) );
        	}	
        });
	</script>
	
	<script>
		$(function() {
			// Handler for .ready() is called
			$('#feedback_alert').css({color: 'black'}).animate({color: 'red'},'slow');
			$('#feedback_notice').css({color: 'black'}).animate({color: 'orange'},'slow');
		});
	</script>
	
    <?cs include:"super_duper.html" ?>
