<br />
Examples of managing the tree nodes:
<ol>
	<li><a href="javascript:void(0)" onclick="$('.tree').simpleTreeMenu('expandAll')">Expand all nodes</a></li>
	<li><a href="javascript:void(0)" onclick="$('.tree').simpleTreeMenu('closeAll')">Close all nodes</a></li>
	<li><a href="javascript:void(0)" onclick="$('.tree').simpleTreeMenu('serialize', 'cookie')">put it in the cookie jar</a></li>
	<li><a href="javascript:void(0)" onclick="$('.tree').simpleTreeMenu('deserialize', 'cookie')">take it from the cookie jar</a></li>
	<li><a href="javascript:void(0)" onclick="$('.tree').simpleTreeMenu('serialize', 'html5')">put it in the fancy place</a></li>
	<li><a href="javascript:void(0)" onclick="$('.tree').simpleTreeMenu('deserialize', 'html5')">take it from the fancy place</a></li>
</ol>
